:root {
  --primary: #088899;
  --secondary: #ffffff;
}

/* resets */
body,
p,
a,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* fonts */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

body {
  font-family: "Roboto";
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 1.1em;
}

img {
  max-width: 300px;
}

.contactMeContainer,
h1 {
  color: white;
}

.projectDescription,
.aboutMeText {
  color: rgb(88, 87, 87);
}

/* base styles */
body {
  overflow-x: hidden;
}

.aboutMeName,
.contactMeContainer {
  background: var(--primary);
  padding: 1.5em;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.aboutMeName {
  text-align: center;
  position: relative;
}

.aboutMeName h1 {
  position: absolute;
  top: 70%;
  left: 25%;
  font-size: 3em;
}

.aboutMe {
  text-align: center;
  padding: 1rem;
}

a img,
.contactInfo img {
  max-width: 2em;
  height: auto;
}

.socialLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.1em;
}

.myWorkContainer {
  text-align: center;
}

.card {
  margin: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.projectImg,
.contactMeImgContainer {
  max-width: 100%;
}

.projectHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5em;
}

.projectLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 40px;
}

.projectDescription {
  padding: 1.5em;
}

.contactMeContainer {
  text-align: center;
}
.contactMeText,
.contactMeAddress,
.contactMeInfoContainer {
  padding: 10px 0px 15px;
}

.contactMeInfoContainer img {
  display: none;
}

.contactSocialLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.5em;
}

/* media queries  */
/* small tablet sizes */
@media screen and (min-width: 620px) {
}

/* large tablets and laptops */
@media screen and (min-width: 960px) {
}

/* large screens/monitors */
@media screen and (min-width: 1200px) {
}
